<div class="h-screen flex flex-col bg-[url(/bg.jpg)] bg-cover bg-top">
  <div class="z-[4] flex h-full w-full flex-col items-center justify-center">
    <div class="h-full w-full md:h-auto md:w-[420px]">
      <div
        class="rounded-lg border bg-card text-card-foreground shadow-sm h-full w-full p-8"
      >
        <div class="flex flex-col space-y-1.5 p-6 px-0 pt-0">
          <h3 class="text-2xl font-semibold leading-none tracking-tight">
            Reset your new password
          </h3>
          <p class="text-sm text-muted-foreground">
            Use enter your new password to continue
          </p>
        </div>
        <div class="p-6 pt-0 space-y-5 px-0 pb-0">
          <form
            class="space-y-4"
            (ngSubmit)="onSubmit()"
            [formGroup]="resetPasswordForm"
          >
            <tui-input-password formControlName="newPassword">
              New password
              <input name="newPassword" tuiTextfield required />
            </tui-input-password>
            <button
              tuiButton
              type="submit"
              class="w-full"
              [showLoader]="isLoading"
              [disabled]="resetPasswordForm.invalid || isLoading"
            >
              Continue
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fixed inset-0 z-[1] bg-[linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.4),rgba(0,0,0,0.8))]"
  ></div>
</div>
