<tui-loader class="h-screen" [overlay]="true" [showLoader]="eventsLoading">
  <header class="flex items-center justify-end border-b border-gray-200 p-7">
    <div class="flex items-center justify-start gap-x-4">
      <button
        size="s"
        tuiButton
        type="button"
        class="!rounded-md"
        (click)="showNewEventDialog()"
      >
        Add event
      </button>
      <div class="h-6 w-px bg-gray-300"></div>
      <button
        size="s"
        tuiButton
        type="button"
        class="!rounded-md"
        appearance="secondary"
        (click)="onClickMyCalendars()"
      >
        My calendars
      </button>
      <div class="h-6 w-px bg-gray-300"></div>
      <button
        size="s"
        tuiButton
        type="button"
        appearance="accent"
        class="!rounded-md"
      >
        Logout
      </button>
    </div>
  </header>
  <form
    [formGroup]="findForm"
    (ngSubmit)="onFindSubmit()"
    class="grid grid-cols-12 gap-4 px-10 py-8"
  >
    <tui-select tuiTextfieldSize="s" formControlName="searchBy">
      Search by
      <input tuiTextfield placeholder="Choose search by" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="searchByItems"
      ></tui-data-list-wrapper>
    </tui-select>
    <tui-input tuiTextfield formControlName="searchValue">
      Search value
    </tui-input>
    <tui-select tuiTextfieldSize="s" formControlName="filterBy">
      Filter by
      <input tuiTextfield placeholder="Choose filter by" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="filterByItems"
      ></tui-data-list-wrapper>
    </tui-select>
    <tui-input
      tuiTextfield
      formControlName="filterValue"
      *ngIf="findForm.value.filterBy !== 'All day'"
    >
      Filter value
    </tui-input>
    <tui-select
      tuiTextfieldSize="s"
      formControlName="filterValue"
      *ngIf="findForm.value.filterBy === 'All day'"
    >
      Filter value
      <input tuiTextfield />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="['Yes', 'No']"
      ></tui-data-list-wrapper>
    </tui-select>
    <button tuiButton type="submit" class="!rounded-md">Find</button>
    <button
      tuiButton
      type="button"
      (click)="onFindReset()"
      class="!rounded-md"
      appearance="outline"
    >
      Reset
    </button>
  </form>
  <table
    tuiTable
    [columns]="columns"
    class="w-full px-10"
    [tuiSortBy]="sorter$ | async"
  >
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'title'" tuiSortable tuiTh (click)="onSort('title')">
          Title
        </th>
        <th
          tuiTh
          tuiSortable
          *tuiHead="'description'"
          (click)="onSort('description')"
        >
          Description
        </th>
        <th *tuiHead="'allDay'" tuiSortable tuiTh (click)="onSort('allDay')">
          All day
        </th>
        <th
          *tuiHead="'startTime'"
          tuiSortable
          tuiTh
          (click)="onSort('startTime')"
        >
          Start Time
        </th>
        <th *tuiHead="'endTime'" tuiSortable tuiTh (click)="onSort('endTime')">
          End Time
        </th>
        <th
          *tuiHead="'location'"
          tuiSortable
          tuiTh
          (click)="onSort('location')"
        >
          Location
        </th>
      </tr>
    </thead>
    <tbody tuiTbody>
      <tr *ngFor="let item of events?.data" tuiTr>
        <td *tuiCell="'title'" tuiTd>
          {{ item.title }}
        </td>
        <td *tuiCell="'description'" tuiTd>
          {{ item.description }}
        </td>
        <td *tuiCell="'allDay'" tuiTd>
          {{ item.allDay ? 'Yes' : 'No' }}
        </td>
        <td *tuiCell="'startTime'" tuiTd>
          {{ item.startTime | date: 'YYYY-MM-dd hh:mm a' }}
        </td>
        <td *tuiCell="'endTime'" tuiTd>
          {{ item.endTime | date: 'YYYY-MM-dd hh:mm a' }}
        </td>
        <td *tuiCell="'location'" tuiTd>
          {{ item.location }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="columns.length">
          <tui-table-pagination
            class="tui-space_top-2"
            [page]="events?.pagination?.currentPage! - 1 || 0"
            [total]="events?.pagination?.totalItems || 0"
            (pageChange)="onPage($event)"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</tui-loader>
