<form class="p-4 space-y-4" (ngSubmit)="onSubmit()" [formGroup]="newEventForm">
  <tui-input formControlName="title" tuiTextfield required> Title </tui-input>
  <div *ngIf="!newEventForm.value.allDay" class="grid grid-cols-2 gap-2">
    <tui-input-date-time formControlName="startTime">
      Choose start date and time
      <input tuiTextfield />
    </tui-input-date-time>
    <tui-input-date-time formControlName="endTime">
      Choose end date and time
      <input tuiTextfield />
    </tui-input-date-time>
  </div>
  <div *ngIf="newEventForm.value.allDay" class="grid grid-cols-2 gap-2">
    <tui-input-date formControlName="startTime">
      Choose start date
      <input tuiTextfield />
    </tui-input-date>
    <tui-input-date formControlName="endTime">
      Choose end date
      <input tuiTextfield />
    </tui-input-date>
  </div>
  <div
    class="text-rose-500"
    *ngIf="newEventForm.errors?.['endDateBeforeStartDate']"
  >
    End date must be after start date.
  </div>
  <tui-checkbox-labeled formControlName="allDay">
    <p class="font-medium">All day</p>
  </tui-checkbox-labeled>
  <tui-textarea formControlName="description" required>
    Description
  </tui-textarea>
  <tui-input formControlName="location" tuiTextfield required>
    Location
  </tui-input>
  <button
    tuiButton
    type="submit"
    class="w-full"
    [showLoader]="isLoading"
    [disabled]="newEventForm.invalid || isLoading"
  >
    Save
  </button>
</form>
