<div class="flex flex-col space-y-1.5 p-4">
  <h3 class="text-2xl font-semibold leading-none tracking-tight">
    New calender
  </h3>
  <p class="text-sm text-muted-foreground">
    Create a new calendar to get started
  </p>
</div>
<form
  class="px-4 space-y-4"
  (ngSubmit)="onSubmit()"
  [formGroup]="newCalendarForm"
>
  <tui-input required formControlName="name" tuiTextfield> Name </tui-input>
  <tui-textarea required formControlName="description">
    Description
  </tui-textarea>
  <tui-input-color
    required
    tuiTextfield
    formControlName="color"
    [colors]="palette"
  >
    Color
  </tui-input-color>
  <button
    tuiButton
    type="submit"
    class="w-full"
    [showLoader]="isLoading"
    [disabled]="newCalendarForm.invalid || isLoading"
  >
    Save
  </button>
</form>
