<div class="flex flex-col space-y-1.5 p-4">
  <h3 class="text-2xl font-semibold leading-none tracking-tight">
    {{ !!eventId ? 'Update event' : 'New event' }}
  </h3>
  <p class="text-sm text-muted-foreground">
    {{ !!eventId ? 'Update an event' : 'Create a new event' }}
  </p>
</div>
<tui-loader [overlay]="true" [showLoader]="isLoading">
  <form
    class="px-4 space-y-4"
    (ngSubmit)="onSubmit()"
    [formGroup]="editorEventForm"
  >
    <tui-input formControlName="title" tuiTextfield required> Title </tui-input>
    <div class="grid grid-cols-2 gap-2">
      <tui-input-date formControlName="startDate">
        Choose start date
      </tui-input-date>
      <tui-input-time
        [items]="timePeriods"
        formControlName="startTime"
        *ngIf="!editorEventForm.value.allDay"
      >
        Choose start time
      </tui-input-time>
      <tui-input-date formControlName="endDate">
        Choose end date
      </tui-input-date>
      <tui-input-time
        [items]="timePeriods"
        formControlName="endTime"
        *ngIf="!editorEventForm.value.allDay"
      >
        Choose end time
      </tui-input-time>
    </div>
    <div
      class="text-rose-500"
      *ngIf="editorEventForm.errors?.['endDateBeforeStartDate']"
    >
      End date must be after start date.
    </div>
    <tui-checkbox-labeled formControlName="allDay">
      <p class="font-medium">All day</p>
    </tui-checkbox-labeled>
    <tui-textarea formControlName="description" required>
      Description
    </tui-textarea>
    <tui-input formControlName="location" tuiTextfield required>
      Location
    </tui-input>
    <button
      tuiButton
      type="submit"
      class="w-full"
      [disabled]="editorEventForm.invalid"
    >
      Save
    </button>
    <button
      tuiButton
      type="button"
      class="w-full"
      *ngIf="!!eventId"
      appearance="accent"
      (click)="onConfirmDeleteCalender()"
    >
      Delete
    </button>
  </form>
</tui-loader>
