<div class="flex flex-col space-y-1.5 p-4">
  <h3 class="text-2xl font-semibold leading-none tracking-tight">
    {{ !!eventId ? 'Update event' : 'New event' }}
  </h3>
  <p class="text-sm text-muted-foreground">
    {{ !!eventId ? 'Update an event' : 'Create a new event' }}
  </p>
</div>
<tui-loader [overlay]="true" [showLoader]="isLoading">
  <form
    class="px-4 space-y-4"
    (ngSubmit)="onSubmit()"
    [formGroup]="editorEventForm"
  >
    <tui-input formControlName="title" tuiTextfield required> Title </tui-input>
    <div *ngIf="!editorEventForm.value.allDay" class="grid grid-cols-2 gap-2">
      <tui-input-date-time formControlName="startTime">
        Choose start date and time
        <input tuiTextfield />
      </tui-input-date-time>
      <tui-input-date-time formControlName="endTime">
        Choose end date and time
        <input tuiTextfield />
      </tui-input-date-time>
    </div>
    <div *ngIf="editorEventForm.value.allDay" class="grid grid-cols-2 gap-2">
      <tui-input-date formControlName="startTime">
        Choose start date
        <input tuiTextfield name="startTime" />
      </tui-input-date>
      <tui-input-date formControlName="endTime">
        Choose end date
        <input tuiTextfield name="endTime" />
      </tui-input-date>
    </div>
    <div
      class="text-rose-500"
      *ngIf="editorEventForm.errors?.['endDateBeforeStartDate']"
    >
      End date must be after start date.
    </div>
    <tui-checkbox-labeled
      formControlName="allDay"
      (ngModelChange)="onChangeAllDay()"
    >
      <p class="font-medium">All day</p>
    </tui-checkbox-labeled>
    <tui-textarea formControlName="description" required>
      Description
    </tui-textarea>
    <tui-input formControlName="location" tuiTextfield required>
      Location
    </tui-input>
    <button
      tuiButton
      type="submit"
      class="w-full"
      [disabled]="editorEventForm.invalid"
    >
      Save
    </button>
    <button
      tuiButton
      type="button"
      class="w-full"
      *ngIf="!!eventId"
      appearance="accent"
      (click)="onDeleteEvent()"
    >
      Delete
    </button>
  </form>
</tui-loader>
