<tui-loader [overlay]="true" [showLoader]="calendarsLoading || eventsLoading">
  <div class="h-screen flex">
    <aside class="border pt-4 w-[300px] relative">
      <tui-calendar
        [value]="miniCalendarValue"
        (dayClick)="onClickMiniCalender($event)"
      ></tui-calendar>
      <div class="shrink-0 bg-border h-[1px] w-full my-4"></div>
      <div class="flex items-center justify-between gap-x-4 px-2">
        <tui-select
          size="s"
          itemContent
          class="w-full !rounded-md"
          [(ngModel)]="selectedCalendar"
          (ngModelChange)="onChangeSelectedCalendar($event)"
        >
          My Calendars
          <input placeholder="Choose your calendar" tuiTextfield />
          <tui-data-list-wrapper
            size="s"
            *tuiDataList
            [items]="calendars"
          ></tui-data-list-wrapper>
        </tui-select>
        <button
          tuiIconButton
          type="button"
          icon="tuiIconPlus"
          class="!rounded-md"
          (click)="showNewCalendarDialog()"
        >
          New calendar
        </button>
      </div>
    </aside>
    <div class="flex h-full flex-col p-7 flex-1">
      <header
        class="flex items-center justify-between border-b border-gray-200 pb-6 lg:flex-none"
      >
        <div class="flex items-center gap-x-4">
          <div
            class="relative flex items-center rounded-md bg-white shadow-sm md:items-stretch"
          >
            <button
              type="button"
              (click)="handlePrevMonth()"
              class="flex h-9 w-12 items-center justify-center rounded-l-md border-y border-l border-gray-300 pr-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pr-0 md:hover:bg-gray-50"
            >
              <span class="sr-only">Previous month</span>
              <svg
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            <button
              type="button"
              (click)="handleReset()"
              class="border-y border-gray-300 px-3.5 text-sm font-semibold text-gray-900 hover:bg-gray-50 focus:relative md:block"
            >
              Today
            </button>
            <button
              type="button"
              (click)="handleNextMonth()"
              class="flex h-9 w-12 items-center justify-center rounded-r-md border-y border-r border-gray-300 pl-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pl-0 md:hover:bg-gray-50"
            >
              <span class="sr-only">Next month</span>
              <svg
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <h1 class="text-xl font-semibold leading-6 text-gray-900">
            {{ currentDay }}
          </h1>
        </div>
        <div class="flex items-center">
          <div class="md:ml-4 md:flex md:items-center gap-x-4">
            <ng-container *ngIf="calendars.length">
              <button
                size="s"
                tuiButton
                type="button"
                class="!rounded-md"
                (click)="showEditorEventDialog()"
              >
                Add event
              </button>
              <div class="h-6 w-px bg-gray-300"></div>
              <button
                size="s"
                tuiButton
                type="button"
                class="!rounded-md"
                appearance="secondary"
                (click)="navigateToEvents()"
              >
                Events
              </button>
              <div class="h-6 w-px bg-gray-300"></div>
            </ng-container>
            <button
              size="s"
              tuiButton
              type="button"
              appearance="accent"
              class="!rounded-md"
              (click)="onLogout()"
            >
              Logout
            </button>
          </div>
        </div>
      </header>
      <div class="shadow ring-1 ring-black ring-opacity-5 flex flex-1 flex-col">
        <div
          class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none"
        >
          <ng-container *ngFor="let row of currentMonth; let i = index">
            <ng-container *ngFor="let day of row; let j = index">
              <div *ngIf="i === 0" class="flex justify-center bg-white py-2">
                {{ day.format('ddd') }}
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="flex flex-1 bg-gray-100 text-xs leading-6 text-gray-700">
          <div class="flex-1 grid grid-cols-7 grid-rows-5">
            <ng-container *ngFor="let row of currentMonth; let i = index">
              <ng-container *ngFor="let day of row; let j = index">
                <div
                  [ngClass]="{
                    'relative px-1': true,
                    'bg-white': currentDay === day.format('MMMM YYYY')
                  }"
                >
                  <div
                    *ngIf="getCurrentDayClass(day); else elseBlock"
                    class="flex size-6 items-center justify-center rounded-full bg-indigo-600 font-semibold text-white"
                  >
                    {{ day.format('DD') }}
                  </div>
                  <ng-template #elseBlock>
                    {{ day.format('DD') }}
                  </ng-template>
                  <ol class="mt-2 space-y-2">
                    <ng-container *ngFor="let event of events">
                      <li
                        (click)="onClickSpecificEvent(event)"
                        [ngClass]="{
                          'group flex justify-between border rounded-md px-2 border-sky-500 cursor-pointer': true,
                          'bg-white': !event.allDay,
                          'bg-sky-500 text-white': event.allDay
                        }"
                        *ngIf="
                          isTimeWithinSpecificDay(
                            event.startDate,
                            event.endDate,
                            day.format('YYYY-MM-DD')
                          )
                        "
                      >
                        <p
                          *ngIf="!event.allDay"
                          class="mr-1 flex-none text-gray-500 group-hover:text-indigo-600"
                        >
                          <span>
                            {{ event.startTime | date: 'hh:mm a' }}
                          </span>
                        </p>
                        <p
                          [ngClass]="{
                            'flex-auto truncate font-medium': true,
                            'text-gray-900 group-hover:text-indigo-600 w-32':
                              !event.allDay,
                            'text-white group-hover:text-sky-200 w-52':
                              event.allDay
                          }"
                        >
                          {{ event.title }}
                        </p>
                      </li>
                    </ng-container>
                  </ol>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</tui-loader>
